
*{margin: 0;
    padding: 0;
    box-sizing: border-box
}

    @import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,200&display=swap');

html{
    font-family: 'Fraunces', serif;
    font-size: 62.5%;
}

nav.navbar.bg-body-tertiary {
    width: 100%;
}
.centrarnav {
    width: 100%;
}

#carouselExampleIndicators{
    height: 70vh;
    overflow: hidden;

}

/* header */


header a{
    color: #61677A;
   text-decoration: none;
}
header a:hover{
    color: black
}


header ul{
    list-style: none;
    font-size: 1.9rem;
    font-weight: bolder;
    margin: 0.7rem;
}
h1{
    text-align: center;
    font-size: 4rem;
}

h2{
    text-align: center;
    font-size: 3.5rem;
}
h3{
    font-size: 1.5rem;
}

p{
    font-size: 2.5rem;
}

/*Section Presentacion*/
.presentacion{
    color: #272829;
    text-align: center;
    margin: 0.7rem;
}

.centrarimagenes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-evenly;
    align-items: flex-start;
}

.showroom{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: center;
        align-items: center;
}
.sobrenosotros{
    text-align: center;
}
/*           .Dormitorio.                */


.contenedor-grid {
    display: grid;
    grid-template-areas: 
    "frazada1 frazada2 frazada3"
    "frazada4 frazada5 frazada6" ;
    grid-template-columns: auto;
    grid-template-rows:auto ;
    justify-items: center;
    row-gap: 6px;
    column-gap: 6px;
}
.grid-img-1{
    grid-area: frazada1;
}

.grid-img-2{
    grid-area: frazada2;
}
.grid-img-3{
    grid-area: frazada3;
}
.grid-img-4{
    grid-area: frazada4;
}
.grid-img-5{
    grid-area: frazada5;
}
.grid-img-6{
    grid-area: frazada6;
}
.contenedor-grid img{
    width: 100%;
    height: 100%;
}

.itemfoto {
    height: 150px;
    padding: 40px;
}


.formulario{
    text-align: center;
   font-size: 2rem;
}

.descuentos{
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
}
/*             .Footer Cierre de Pagina y redes.              */

.sectioncontainer{
    display: flex;
    justify-content: center;
    font-size: 2.2rem;
    text-align: center;
    
}  
.sectionhijo{
    display: flex;
  justify-content: center;
  align-items: center;
    font-size: 2.2rem;
    text-align: center; 
}
.seguimientopedido{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-evenly;
    align-items: flex-start;
    font-size: 1.8rem;
    color: #272829;
}

/*    MediaQ   */    
@media only screen and (max-width:480px) {
.contenedor-grid{
    grid-template-areas: 
    "frazada1"
    "frazada2"
    "frazada3"
    "frazada4"
    "frazada5"
    "frazada6";
grid-template-columns: 95%;
grid-template-rows: 150px repeat (5,150px);
}

header a{
    font-size: 1.1rem;
}
nav{
    width: 80%;
}
}

