
$color:#096666;
//Footer Cierre de Pagina y redes

@mixin flex ($direc,$justi,$aling){
    display: flex;
    flex-direction: $direc;
    justify-content: $justi;
    text-align: $aling;
    
}  
footer{
    
    .sectioncontainer{
        @include flex(center,center,center)
        
    }  
    .sectionhijo{
        @include flex(center,center,center)
    }  
       
    }
    .seguimientopedido{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: space-around;
        justify-content: space-evenly;
        align-items: flex-start;
        list-style: none;
        font-size: 1.8rem;
        color: $color;
    }
    